BACKEND_IMAGE=
FRONTEND_IMAGE=

RDS_HOST=
DB_NAME=s13p21e203
DB_USERNAME=
DB_PASSWORD=

REDIS_PASSWORD=

JWT_SECRET=
JWT_ACCESS_EXPIRE_TIME=3600000
JWT_REFRESH_EXPIRE_TIME=1209600000

MAIL_USERNAME=

GMS_API_KEY=
GMS_BASE_URL=

SEOUL_OPENAPI_KEY=
